## Summary

This project is to create a simple engine to calculate trailing return of a given financial instrument. It is inspired by below Morningstar tool (which is available free of charge to public, however was taken offline from its newly designed website)

In [1]:
from IPython.display import Image
from IPython.core.display import HTML 

# Image(url = "https://taovalue.files.wordpress.com/2019/08/morningstar-return-calc.png")
Image(url = "https://github.com/taovalue/Return-Calc/blob/master/Morningstar-Return-Calc.png?raw=true")

The old website is still available from below URL: http://performance.morningstar.com/funds/etf/total-returns.action?t=ACWI

## Some structural thoughts

### Data Source
public daily pricing data (Yahoo Finance, Quandl, etc.), maybe there already are libraries does the data pull. Let's research that first.

### Inputs
- Ticker (Security identifier)
- As-of Date (As-of date for trailing return calculation)
- Date Range (time horizon to go back
- Frequency (day, month, quarter, year)

### Outputs
- various return numbers (need to specify further)

### GUI
- using flask (url: https://www.fullstackpython.com/flask.html)?

### Here is a quick example on using Yahoo API to get some prices and calculate a simple return

In [1]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
# Define the instruments to download. We use ACWI as an example
ticker = 'ACWI'

# We would like all available data from 4/1/2019 until 6/30/2019.
start_date = '2019-04-01'
end_date = '2019-06-30'

# User pandas_reader.data.DataReader to load the desired data.
panel_data = data.DataReader(ticker,'yahoo',start_date, end_date)

# Check the first few rows
panel_data.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2019-04-01  73.070000  72.680000  72.760002  73.029999  2565200.0  72.120888
2019-04-02  73.059998  72.769997  73.029999  73.000000  1889700.0  72.091263
2019-04-03  73.639999  73.180000  73.410004  73.339996  3175500.0  72.427025
2019-04-04  73.470001  73.199997  73.300003  73.449997  1991000.0  72.535652
2019-04-05  73.750000  73.489998  73.570000  73.730003  1064000.0  72.812180

In [9]:
# Get the Adj Close column
Close = panel_data["Adj Close"]
Close

Date
2019-04-01    72.120888
2019-04-02    72.091263
2019-04-03    72.427025
2019-04-04    72.535652
2019-04-05    72.812180
2019-04-08    72.901054
2019-04-09    72.515907
2019-04-10    72.822044
2019-04-11    72.594917
2019-04-12    73.108437
2019-04-15    73.078812
2019-04-16    73.157814
2019-04-17    73.187447
2019-04-18    73.207191
2019-04-22    73.197319
2019-04-23    73.592339
2019-04-24    73.187447
2019-04-25    73.167686
2019-04-26    73.444206
2019-04-29    73.621971
2019-04-30    73.691093
2019-05-01    73.187447
2019-05-02    73.019562
2019-05-03    73.789848
2019-05-06    73.177567
2019-05-07    71.933250
2019-05-08    71.893753
2019-05-09    71.528358
2019-05-10    71.972748
2019-05-13    70.165535
                ...
2019-05-20    70.659317
2019-05-21    71.301216
2019-05-22    71.014832
2019-05-23    70.214912
2019-05-24    70.600052
2019-05-28    69.997650
2019-05-29    69.592758
2019-05-30    69.898895
2019-05-31    69.217484
2019-06-03    69.345871
2019-06-04    70.471680
2019-06-05    70.718567
2019-06-06    71.093834
2019-06-07    71.844376
2019-06-10    72.150513
2019-06-11    72.357895
2019-06-12    71.943123
2019-06-13    72.190018
2019-06-14    71.874001
2019-06-17    71.940002
2019-06-18    72.870003
2019-06-19    73.110001
2019-06-20    73.940002
2019-06-21    73.739998
2019-06-24    73.660004
2019-06-25    73.070000
2019-06-26    73.120003
2019-06-27    73.400002
2019-06-28    73.709999
2019-07-01    74.290001
Name: Adj Close, Length: 64, dtype: float64

In [4]:
# Extract start and end close price
EndPx = panel_data.loc[max(panel_data.index),"Adj Close"]
StartPx = panel_data.loc[min(panel_data.index),"Adj Close"]

# Calculate return
Ret = EndPx/StartPx - 1

In [5]:
# Test rounding
round(Ret*100,2)

3.01

In [6]:
# Print out results
print("Return of ",ticker," from ",start_date," to ",end_date," was ",round(Ret*100,2),"%.")

Return of  ACWI  from  2019-04-01  to  2019-06-30  was  3.01 %.